## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/

## VS Code

## JetBrains Rider
.idea/

## macOS
.DS_Store

## Terraform
Infra/terraform.tfstate
Infra/terraform.tfstate.backup
Infra/terraform.tfvars
Infra/.terraform/
Infra/.terraform.lock.hcl

## HTTP files with secrets
ForumAPI.http

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
